<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Your Basket Summary</h2>

        <% tot = 0 %>
        <% @products.each do |product| %>
          <% if product.basket == @user.basket %>
            <div class="basket-item">
                <div class="basket-content">
                <div class="basket-item-title">
                  <%= product.title %>
                </div>
                <div class="basket-item-desc">
                  <%= product.quick_description %>
                </div>
              </div>
              <div class="basket-price">
                $<%=product.price %>
                <% tot += product.price %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="basket-item">
          <div class="basket-content">
            <div class="basket-item-title bottom">
              These failures total cost is
            </div>
          </div>
          <div class="basket-price total">
            $<%= tot %>
          </div>
        </div>
        <div class="basket-btn">
          <%= link_to "Fund failers!", pay_basket_path, class: "btn btn-success" %>
          <%= link_to "Go back", :back %>
        </div>
    </div>
  </div>
</div>
