<div class="container">
  <div class="row">
  <% @products.first(3).each do |product| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card card-btn">
        <div class="card-top">
          <div class="card-category"><%= product.category %></div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
          <%= cl_image_tag(product.photo, class: "card-image") %>
        <div class="card-description">
          <h2><%= product.title %> </h2>
          <p><%= product.quick_description %></p>
          <h3><%= product.price %> €</h3>
        </div>
        <div class="card-bottom">
          <p>Product added by <%= product.user.surname %></p>
        </div>
        <%= link_to "", product_path(product) , class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
  <% @products.last(2).each do |product| %>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card card-btn">
        <div class="card-top">
          <div class="card-category"><%= product.category %></div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
        <%= cl_image_tag(product.photo, class: "card-image") %>
        <div class="card-description">
          <h2><%= product.title %></h2>
          <p><%= product.description %></p>
          <h3><%= product.price %> €</h3>
        </div>
        <div class="card-bottom">
          <p>Product added by <%= product.user.surname %></p>
        </div>
        <%= link_to "", product_path(product) , class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>



