<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= simple_form_for [@user, @product] do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :address %>

  <!-- Photo to be linked to cloudinary -->
  <%= f.input :photo %>

  <%= f.submit "Edit a product", class: "btn btn-primary" %>
<% end %>
