<div class="backgroud-img" style="background-image: url(<%= asset_path "edit-product-background.jpg" %>);">

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-new">
          <h2>Edit your product</h2>
          <%= simple_form_for [@user, @product] do |f| %>
            <%= f.input :price %>
            <%= f.input :description %>
            <%= f.input :address %>

            <!-- ajout photo uploader -->
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit "Edit product", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

</div>
