<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Buy Codes</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Failers have nice codes and algorithms availed for you.<span class="text-muted">Ask failers for more details.</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>

<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Buy Clients</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Failers will lose their clients but you can continue to provide services to them.<span class="text-muted">All datas are confidential.</span></h2>
  </div>
</div>

 <%= render 'shared/product-card'  %>


<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Buy Furnitures</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Failers won't use anymore these stuffs.<span class="text-muted">Refurnishe your office quickly witch fits perfectly with startups needs .</span></h2>
  </div>
</div>



 <%= render 'shared/product-card'  %>


<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Find new offices</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Failers will leave their office asap because it cost too much.<span class="text-muted">Help them, help the owner to get a new tenant, help you to grow faster.</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>


<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Find new Employees over skilled</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Employees working in failing companies are often over skilled.<span class="text-muted">Recruit them all :-).</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>



