
<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Buy Codes</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Get all what you need in a minute.<span class="text-muted">Do not hesite to chat with us.</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>

<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Buy Clients</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Get all what you need in a minute.<span class="text-muted">Do not hesite to chat with us.</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>


<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Buy Furnitures</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Get all what you need in a minute.<span class="text-muted">Do not hesite to chat with us.</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>


<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Find new offices</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Get all what you need in a minute.<span class="text-muted">Do not hesite to chat with us.</span></h2>
  </div>
</div>


 <%= render 'shared/product-card'  %>


<div class="row featurette featurette-failers  ">
   <h1 class="text-center "><span class="highlight">Find new Employees over skilled</span></h1>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="featurette-heading">Get all what you need in a minute.<span class="text-muted">Do not hesite to chat with us.</span></h2>
  </div>
</div>




 <%= render 'shared/product-card'  %>



