<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= simple_form_for [@user, @product] do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :address %>

  <!-- ajout photo uploader -->
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add a product", class: "btn btn-primary" %>
<% end %>
